<div class="ext-demo-about-ng" ng-controller="AboutController as $ctrl">
  <div class="about">
    <div class="item">
      <div class="icon">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      </div>
      <div class="text">
        <h4>About this app</h4>
        <p>This app demonstrates a subset of the features offered by the Backbase Mobile SDK. It can be used in different ways.
          For example as an informative app about the (current) features of the Mobile SDK as well as to understand how they
          can build apps based on the Mobile SDK as the source code of the app is available as open source. All functionality
          is built using widgets. These widgets are directly built on top of the Launchpad architecture.</p>
      </div>
    </div>
    <div class="item">
      <div class="icon backbase">
        <img src="static/features/[BBHOST]/ext-demo-about-ng/media/backbase.png" height="13" alt="" />
      </div>
      <div class="text">
        <h4>About Backbase</h4>
        <p>Backbase is a software company, founded in the Netherlands in 2003, which has offices in Amsterdam, the Netherlands,
          Atlanta and New York, United States, and London, United Kingdom. We are on a mission to help financial institutions
          create, manage, and optimize secure omni-channel customer interactions.</p>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
      </div>
      <div class="text">
        <h4>Contact and support</h4>
        <p>Please feel free to contact with us in case you have any questions or need any support.</p>
        <div class="contact">
          <div class="contact-item">
            <button ng-click="$ctrl.emailUs()" class="btn btn-success" ng-disabled="!$ctrl.emailUsEnabled"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Email</button>
          </div>
          <div class="contact-item">
            <button ng-click="$ctrl.callUs()" class="btn btn-success" ng-disabled="!$ctrl.callUsEnabled"> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Call</button>
          </div>
          <div class="contact-item">
            <button ng-click="$ctrl.visitWebsite()" class="btn btn-success"> <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Website</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>