<div class="ext-demo-version-ng" ng-controller="VersionController as $ctrl">
  <div class="version">
    <div class="date">{{ $ctrl.version.releaseDate }}</div>
    <div class="name">VERSION {{ $ctrl.version.versionName }}</div>
    <div ng-repeat="item in $ctrl.version.features">
      <div class="item">
        <div class="icon">
          <span class="glyphicon {{ item.icon }}" aria-hidden="true"></span>
        </div>
        <div class="text">
          <h4>{{ item.name }}</h4>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>