<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="backbase.com.templatedrawer" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".BackbaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/backbase"
        android:logo="@drawable/backbase"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
